body {
  background-image: url("https://www.persiscollection.com/wp-content/uploads/2024/10/Persian-Traditional-Design-Wallpaper-%E2%80%93-Traditional-Iranian-shapes-5.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0 20px;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #1D326C;
}

.container {
  margin: 100px 50px;
  max-width: 600px; 
  padding: 30px;
  background-color:#afc3da;
  border-radius: 15px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.1);
}

header {
  margin-bottom: 30px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
  color: #272044;
}

.poem-container {
  background-color: #e6ebf2;
  margin-bottom: 30px;
  padding: 15px 20px;
  box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
  border-radius: 10px;
}

.hint {
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
  font-size: 12px;
}

form {
  display: flex;
}

.instructions {
  padding: 16px;
  border: 1px solid rgba(39, 33, 66, 0.5);
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
  color: #272044;
}

.submit-button {
  margin-left: 10px;
  background: #1D326C;
  color: white;
  border: none;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 24px;
}

.poem {
  font-size: 16px;
  background-color: #e6ebf2;
  padding: 20px;
  line-height: 2;
  border-right: 3px solid #1D326C;
  box-shadow: 0px 4px 30px 0px rgba(39, 33, 66, 0.03);
  text-align: right;
  border-radius: 5px;
}


.generating {
  animation: blinker 1s linear infinite;
  text-align: left;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.hidden {
  display: none;
}

footer {
  text-align: center;
  font-size: 13px;
  margin-top: 30px;
}

strong{
  color: #1D326C;
}